<?xml version="1.0"?>
<humans>
<!-- MASTER MENU -->
<menu><id>A</id><s>0</s><t>s</t><i>fa fa-home</i><n>Home</n><l>../home/index.php</l></menu>
<!-- SETTING -->
<menu><id>B</id><s>0</s><t>m</t><i>fa fa-edit</i><n>Master Data</n><l>#</l></menu>


<!-- MASTERDATA -->
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Admin </n><l>../data_admin/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Bobot </n><l>../data_bobot/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Harga Tiket </n><l>../data_harga_tiket/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Hari Operasional </n><l>../data_hari_operasional/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Jam Operasional </n><l>../data_jam_operasional/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Jenis Wisata </n><l>../data_jenis_wisata/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Rating </n><l>../data_rating/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Wilayah </n><l>../data_wilayah/index.php</l></menu>
<menu><id></id><s>B</s><t>sm</t><i>fa fa-edit</i><n>Data Wisata </n><l>../data_wisata/index.php</l></menu>

<!-- LAPORAN -->
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Admin </n><l>../data_admin/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Bobot </n><l>../data_bobot/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Harga Tiket </n><l>../data_harga_tiket/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Hari Operasional </n><l>../data_hari_operasional/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Jam Operasional </n><l>../data_jam_operasional/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Jenis Wisata </n><l>../data_jenis_wisata/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Rating </n><l>../data_rating/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Wilayah </n><l>../data_wilayah/index.php?input=cetak</l></menu>
<menu><id></id><s>C</s><t>sm</t><i>fa fa-calendar</i><n>Data Wisata </n><l>../data_wisata/index.php?input=cetak</l></menu>


</humans>
